:root {
    --fundo-principal: #0d0d0d;
    --destaque-principal: #d60000;
    --cor-secundaria: #4B0082;
    --texto-principal: #ffffff;
    --texto-secundario: #A9A9A9;
    --verde-neon: #00ff00;
    --fundo-secundario: #585858;
    --alerta-notificacao: #FF8C00; 
}