.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo-img {
  height: 50px;
}

.nav-center {
  display: flex;
  gap: 20px;
}

.nav-itens-btn a {
  color: #4b0082;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
}
